absl-py==2.1.0
aiofiles==0.5.0
aiohappyeyeballs==2.4.2
aiohttp==3.10.7
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.3
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
bert-score==0.3.13
billiard==4.1.0
bleach==6.1.0
blinker==1.8.2
blis==1.0.1
boto3==1.26.28
botocore==1.29.28
bqplot==0.12.43
branca==0.7.2
bs4==0.0.2
cachetools==5.5.0
catalogue==2.0.10
celery==5.3.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.19.0
cognitojwt==1.4.1
colour==0.1.5
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
coverage==7.0.0
cryptography==38.0.4
cycler==0.12.1
cymem==2.0.8
dataclasses==0.6
datasets==3.0.1
debugpy==1.6.2
decorator==5.1.1
dill==0.3.8
Django==4.1.4
django-cors-headers==3.13.0
django-filter==23.4
django-jsonfield-backport==1.0.5
django-storages==1.13.2
djangorestframework==3.14.0
dnspython==2.6.1
earthengine-api==1.0.0
ecdsa==0.18.0
editdistance==0.8.1
eerepr==0.0.4
entrypoints==0.4
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing==0.9.1
faiss-cpu==1.10.0
fastapi==0.115.5
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
folium==0.17.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
geemap==0.34.1
geocoder==1.38.1
geopandas==1.0.1
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpcio==1.64.1
h11==0.9.0
h5py==3.11.0
httplib2==0.22.0
httptools==0.1.2
huggingface-hub==0.25.1
idna==3.4
importlib_metadata==8.0.0
importlib_resources==6.4.5
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.15.1
ipyleaflet==0.19.2
ipython==8.4.0
ipytree==0.2.2
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.18.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonfield==3.1.0
jsonschema==4.17.3
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
kaggle==1.6.17
keras==3.4.1
kiwisolver==1.4.7
kombu==5.3.2
langcodes==3.4.1
language_data==1.2.0
libclang==18.1.1
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.3
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.4
multidict==4.7.6
multiprocess==0.70.16
murmurhash==1.0.10
mutagen==1.47.0
namex==0.0.8
nest-asyncio==1.5.5
networkx==3.2.1
nltk==3.9.1
numpy==2.0.2
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
outcome==1.3.0.post0
packaging==21.3
pandas==2.2.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
plotly==5.24.1
preshed==3.0.9
prompt-toolkit==3.0.39
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.1
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1_modules==0.4.1
pycparser==2.21
PyCRS==1.0.2
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.18.0
pymongo==4.8.0
pyogrio==0.9.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyperclip==1.9.0
pyproj==3.6.1
pyrsistent==0.19.2
pyshp==2.3.1
PySocks==1.7.1
python-box==7.2.0
python-dateutil==2.9.0.post0
python-decouple==3.6
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.5
python-slugify==8.0.4
pytz==2022.6
PyYAML==6.0.2
pyzmq==23.2.0
ratelim==0.1.6
redis==5.0.1
regex==2024.9.11
requests==2.32.3
rich==13.9.3
rouge-score==0.1.2
rsa==4.9
s3transfer==0.6.0
safetensors==0.4.5
schematics==2.1.1
scikit-learn==1.6.1
scipy==1.13.1
scooby==0.10.0
selenium==4.26.1
sentence-transformers==3.4.1
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sklearn==0.0
slim==0.6.2
smart-open==7.0.5
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.3
srsly==2.4.8
stack-data==0.3.0
starlette==0.41.3
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-serving-api==2.16.1
termcolor==2.4.0
text-unidecode==1.3
thinc==8.3.2
threadpoolctl==3.5.0
together==1.3.3
tokenizers==0.20.0
torch==2.4.1
torchvision==0.19.1
tornado==6.2
tqdm==4.66.5
traitlets==5.3.0
traittypes==0.2.1
transformers==4.45.1
trio==0.27.0
trio-websocket==0.11.1
typer==0.12.5
typing_extensions==4.12.2
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.13
uvicorn==0.11.8
uvloop==0.16.0
vine==5.0.0
wasabi==1.1.3
wcwidth==0.2.8
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==8.1
Werkzeug==3.0.3
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xgboost==1.6.2
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.13.1
zipp==3.19.2
